@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: linear-gradient(0deg, #0A0F21, #28314F);
    height: 100vh;
                                        /* angulo  cor1  cor 2*/
}

.img_perfil {

    background-image: url(/Projeto_02/Img/foto/Perfil.jpeg);
    /*puxando imagen para o fundo da div*/
    height: 255px;
    /*Definindo o tamanho da largura*/
    width: 255px;
    /*Definindo o tamanho da altura*/
    background-size: cover;
    /*imagem é colocada toda dentro da div */
    background-position: center;
    /* centraliza a foto*/
    border-radius: 50%;
    /*arrendonando a div*/
    

}

h1 {
    font-family: "Poppins", sans-serif; /*Definindo qual fonte*/
    font-weight: 350;  /*Definindo grosssura do texto*/
    font-style: unset;  /*Definindo estilo da fonte*/
    color: white; /*Definindo cor do texto*/
    font-size: 1.5rem; /*Definindo tamanho de texto*/
    margin: 30px 0px 27px 0px;
    text-align: center;
}


.socialButton {
    background-color: rgba(202, 215, 218, 0.349); /*Definindo corde fundo*/
    border: 0px solid black; /*Definindo grossura da bordar,tipo de borda e corda borda*/
    border-radius: 5px; /*Definindo arrendondamento da borda*/
    height: 45px; /*Definindo altura*/
    width: 255px; /*Definindo largura*/
    margin: 10px; /*Definindo espalamento da margin*/
    display: block; /*Definindo o tipo de display (No caso em bloco e não em linha)*/
    color: white; /*Definindo cor do texto*/
    font-weight: 300; /*Definindo grosssura do texto*/
    margin-bottom: 18px;
    position: relative; 
    cursor: pointer;/* faz com que a seta mude quando estiver por cima*/
    
    img{
        position: absolute;
        height: 24px; /*definindo tamanho dos icons*/
        left: 55px ;
        top: 10.5px;
        
    }
    p{
        display: inline; /*definindo que o p não seja block por padrão e definindo ser inline para ficar do lado das img*/
        font-size: 1.125rem; /*Definindo tamanho de texto*/
        line-height: 1.125rem;
        position: absolute;
        left: 100px;
        top: 13.5px;
    }
}

.buttonSeleção{
    background-color: rgba(202, 215, 218, 0.753);
}

.content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
}